<a href="https://colab.research.google.com/github/Sarthak2608/Machine-Learning/blob/master/KNN_Diabetic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
def read_data(filename):
  df=pd.read_csv(filename)
  return df.values
x=read_data('/content/sample_data/Diabetes_XTrain.csv')
y=read_data('/content/sample_data/Diabetes_YTrain.csv')
Xt=read_data('/content/sample_data/Diabetes_Xtest.csv')

In [104]:
print(x.shape)
print(y.shape)
print(Xt.shape)

(576, 8)
(576, 1)
(192, 8)

In [0]:
def dis(X,Y):
  return np.sqrt(sum((X-Y)**2))

def KNN(x,y,query_x,k=5):
  val=[]
  
  m=x.shape[0]
  for i in range(m):
    d=dis(x[i],query_x)
    val.append((d,int(y[i])))
  val=sorted(val)
  val=np.array(val)
  val=val[:k,1]
  val=np.unique(val,return_counts=True)
  if(len(val[1])==2):
    if(val[1][0]==val[1][1]):
      if(k<100):
        return KNN(x,y,query_x,k+1)
  max_freq_index=val[1].argmax()
  return val[0][max_freq_index]

In [0]:
yt=[]
m=Xt.shape[0]
for i in range(m):
  res=KNN(x,y,Xt[i])
  yt.append(int(res))

In [107]:
yt[:5]

[1, 0, 0, 0, 0]

In [108]:
np.unique(yt,return_counts=True)

(array([0, 1]), array([129,  63]))

In [109]:
df=pd.DataFrame(yt)
df.head()

   0
0  1
1  0
2  0
3  0
4  0

In [0]:
df.columns=['Outcome']

In [111]:
df.head()

   Outcome
0        1
1        0
2        0
3        0
4        0

In [0]:
df.to_csv('Diabetics_y.csv',index=False)