In [56]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SelectKBest
import matplotlib.pyplot as plt

In [100]:
model=LinearRegression()

In [101]:
train=pd.read_csv('data/Train.csv')
test=pd.read_csv('data/Test.csv')

In [102]:
train_x=train.iloc[:,:-1]
train_y=train.iloc[:,-1]

In [103]:
train_x.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   0.293416  -0.945599  -0.421105   0.406816   0.525662
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997
2   0.236425   0.132836  -0.147723   0.699854  -0.187364
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077

In [104]:
train_y.head()

0   -82.154667
1   -48.897960
2    77.270371
3    -2.988581
4   -37.596722
Name: target, dtype: float64

In [105]:
train_x.describe()

         feature_1    feature_2    feature_3    feature_4    feature_5
count  1600.000000  1600.000000  1600.000000  1600.000000  1600.000000
mean      0.004114    -0.027604    -0.044459    -0.042408     0.012005
std       0.997338     1.021776     1.011768     1.017189     0.978654
min      -3.380125    -3.314844    -3.153118    -3.250169    -2.851707
25%      -0.647165    -0.705030    -0.706385    -0.709504    -0.615880
50%      -0.000360    -0.043769    -0.041272    -0.029756    -0.013527
75%       0.682118     0.645442     0.639130     0.646290     0.650089
max       3.287205     3.438895     3.216176     2.985410     3.321770

In [106]:
train_y.describe()

count    1600.000000
mean        0.318835
std       110.741562
min      -379.829794
25%       -71.897040
50%        -0.610665
75%        71.226603
max       337.643014
Name: target, dtype: float64

In [107]:
model.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [108]:
best_features=SelectKBest(score_func=f_regression,k=3)

In [109]:
best_features

SelectKBest(k=3, score_func=<function f_regression at 0x076E45D0>)

In [110]:
best_features.fit(train_x,train_y)

SelectKBest(k=3, score_func=<function f_regression at 0x076E45D0>)

In [111]:
best_features.scores_

array([1.16118503e+02, 4.35654059e+03, 9.88656268e-01, 2.97945878e+02,
       3.48195512e-01])

In [125]:
feature=pd.DataFrame(best_features.scores_,index=train_x.columns,columns=['Score'])

In [126]:
req_feature=feature.sort_values(by='Score',ascending=False).head(4).index.values

In [127]:
model.fit(train_x[req_feature],train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [128]:
test_y_df=pd.DataFrame(model.predict(test[req_feature]),columns=['target'])

In [129]:
test_y_df.index.names=['Id']

In [130]:
test_y_df.head()

        target
Id
0   117.131604
1   118.816436
2   -22.763351
3   -40.666884
4   -97.135137

In [131]:
test_y_df.to_csv('test_y_feature_selection.csv')