In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [309]:
train=pd.read_csv('data/train.csv')
test=pd.read_csv('data/test.csv')

In [310]:
print(train.head())
print(train.shape)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
(891, 12)

In [311]:
to_drop=['PassengerId','Name','Ticket']
test_y_id=test['PassengerId']

In [312]:
train=train.drop(columns=to_drop)
test=test.drop(columns=to_drop)

In [313]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [314]:
test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  34.5      0      0   7.8292   NaN        Q
1       3  female  47.0      1      0   7.0000   NaN        S
2       2    male  62.0      0      0   9.6875   NaN        Q
3       3    male  27.0      0      0   8.6625   NaN        S
4       3  female  22.0      1      1  12.2875   NaN        S

In [315]:
train=train.fillna(train.mean())
test=test.fillna(test.mean())

In [316]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [317]:
train[['Cabin']]=train[['Cabin']].fillna(train.mode()['Cabin'][0])
test[['Cabin']]=test[['Cabin']].fillna(train.mode()['Cabin'][0]) 


train[['Embarked']]=train[['Embarked']].fillna(train.mode()['Embarked'][0])
test[['Embarked']]=test[['Embarked']].fillna(train.mode()['Embarked'][0])

In [318]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare    Cabin Embarked
0         0       3    male  22.0      1      0   7.2500  B96 B98        S
1         1       1  female  38.0      1      0  71.2833      C85        C
2         1       3  female  26.0      0      0   7.9250  B96 B98        S
3         1       1  female  35.0      1      0  53.1000     C123        S
4         0       3    male  35.0      0      0   8.0500  B96 B98        S

In [319]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Cabin       891 non-null object
Embarked    891 non-null object
dtypes: float64(2), int64(4), object(3)
memory usage: 52.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
Pclass      418 non-null int64
Sex         418 non-null object
Age         418 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Fare        418 non-null float64
Cabin       418 non-null object
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(3)
memory usage: 21.3+ KB

In [320]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

In [321]:
train_x=train.iloc[:,1:]
train_y=train['Survived']
test_x=test

In [322]:
col=['Sex','Cabin','Embarked']
for i in col:
    train_x[i]=le.fit_transform(train_x[i])
    test_x[i]=le.fit_transform(test_x[i])

In [323]:
print(train_x.shape,test_x.shape)

(891, 8) (418, 8)

In [324]:
train_x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0       3    1  22.0      1      0   7.2500     47         2
1       1    0  38.0      1      0  71.2833     81         0
2       3    0  26.0      0      0   7.9250     47         2
3       1    0  35.0      1      0  53.1000     55         2
4       3    1  35.0      0      0   8.0500     47         2

## Decision Tree Classifier

at each node of the decision tree select the feature which has highest information gain
Entropy defines the randomness

In [325]:

def entropy(Y):
    x=np.unique(np.array(Y),return_counts=True)
    e=0.0
    for i in x[1]:
        p=i*1.0/Y.shape[0]
        e+=(-1.0*p)*np.log2(p)
    return e

In [326]:
def divide(X,Y,feature,fval):
    left_x=pd.DataFrame([],columns=X.columns)
    right_x=pd.DataFrame([],columns=X.columns)
    
    left_y=pd.DataFrame([])
    right_y=pd.DataFrame([])
    
    for i in range(X.shape[0]):
        if X[feature].iloc[i]<=fval:
            left_x=left_x.append(X.iloc[i])
            left_y=left_y.append([Y.iloc[i]])
        else:
            #print(X.iloc[i])
            right_x=right_x.append(X.iloc[i])
            right_y=right_y.append([Y.iloc[i]])
    left_x.head()
    return left_x,right_x,left_y,right_y
def information_gain(X,Y,feature,fval):
    left_x,right_x,left_y,right_y=divide(X,Y,feature,fval)
    
    if left_x.shape[0]==Y.shape[0] or right_x.shape[0]==Y.shape[0]:
        return -1000000
    
    e=entropy(Y)
    
    e-=(1.0*(left_y.shape[0])/Y.shape[0])*entropy(left_y)
    e-=(1.0*(right_y.shape[0])/Y.shape[0])*entropy(right_y)
    return e

In [329]:
class DecisionTree:    
    def __init__(self,depth=0,max_depth=5):
        self.left=None
        self.right=None
        self.target=-1
        self.feature=None
        self.fval=None
        self.depth=depth
        self.max_depth=max_depth
    def Training(self,X,Y):
        
        #leaf node
        if self.depth==self.max_depth:
            self.target=Y.mode().iloc[0]
            return;
        
        
        l=[]
        for i in X.columns:
            l.append(information_gain(X,Y,i,X[i].mean()))
            #print(i)
        #print(l)
        
        
        
        self.feature=X.columns[np.argmax(l)]
        self.fval=X[self.feature].mean()
        
        #print(self.fval)
        
        
        left_x,right_x,left_y,right_y=divide(X,Y,self.feature,X[self.feature].mean())
        ##leaf node 
        if left_x.shape[0]==Y.shape[0] or right_x.shape[0]==Y.shape[0]:
            self.target=Y.mode().iloc[0]
            return;
        
        
        self.left=DecisionTree(self.depth+1,self.max_depth)
        self.left.Training(left_x,left_y)
        
        
        self.right=DecisionTree(self.depth+1,self.max_depth)
        self.right.Training(right_x,right_y)
        
        
        #print(np.argmax(l))
    def Predict(self,test_x):
        if self.left is None or self.right is None:
            return self.target
        if test_x[self.feature]<=self.fval:
            return self.left.Predict(test_x)
        else:
            return self.right.Predict(test_x)

obj=DecisionTree()
obj.Training(train_x,train_y)

In [330]:
predict_y=[]
for i in range(test_x.shape[0]):
    #print(test_x.loc[i])
    predict_y.append([test_y_id.iloc[i],obj.Predict(test_x.loc[i])[0]])
print(predict_y)

[[892, 0], [893, 0], [894, 0], [895, 0], [896, 1], [897, 0], [898, 1], [899, 0], [900, 1], [901, 0], [902, 0], [903, 0], [904, 1], [905, 0], [906, 1], [907, 1], [908, 0], [909, 0], [910, 0], [911, 1], [912, 0], [913, 0], [914, 1], [915, 0], [916, 1], [917, 0], [918, 1], [919, 0], [920, 0], [921, 0], [922, 0], [923, 0], [924, 0], [925, 0], [926, 0], [927, 0], [928, 0], [929, 0], [930, 0], [931, 0], [932, 1], [933, 0], [934, 0], [935, 1], [936, 1], [937, 0], [938, 0], [939, 0], [940, 1], [941, 1], [942, 0], [943, 0], [944, 1], [945, 1], [946, 0], [947, 0], [948, 0], [949, 1], [950, 0], [951, 1], [952, 0], [953, 0], [954, 0], [955, 1], [956, 0], [957, 1], [958, 1], [959, 0], [960, 0], [961, 1], [962, 1], [963, 0], [964, 0], [965, 1], [966, 1], [967, 0], [968, 0], [969, 1], [970, 0], [971, 1], [972, 1], [973, 0], [974, 0], [975, 0], [976, 0], [977, 0], [978, 1], [979, 0], [980, 1], [981, 1], [982, 1], [983, 0], [984, 1], [985, 0], [986, 0], [987, 0], [988, 1], [989, 0], [990, 0], [991, 0], [992, 1], [993, 0], [994, 0], [995, 0], [996, 0], [997, 0], [998, 0], [999, 0], [1000, 0], [1001, 1], [1002, 0], [1003, 1], [1004, 1], [1005, 1], [1006, 1], [1007, 0], [1008, 0], [1009, 1], [1010, 0], [1011, 1], [1012, 1], [1013, 0], [1014, 1], [1015, 0], [1016, 0], [1017, 1], [1018, 0], [1019, 1], [1020, 0], [1021, 0], [1022, 0], [1023, 0], [1024, 0], [1025, 0], [1026, 0], [1027, 0], [1028, 0], [1029, 0], [1030, 0], [1031, 0], [1032, 0], [1033, 1], [1034, 0], [1035, 0], [1036, 0], [1037, 0], [1038, 1], [1039, 0], [1040, 0], [1041, 0], [1042, 1], [1043, 0], [1044, 0], [1045, 1], [1046, 0], [1047, 0], [1048, 1], [1049, 0], [1050, 0], [1051, 1], [1052, 1], [1053, 1], [1054, 1], [1055, 0], [1056, 0], [1057, 0], [1058, 0], [1059, 0], [1060, 1], [1061, 0], [1062, 0], [1063, 0], [1064, 0], [1065, 0], [1066, 0], [1067, 1], [1068, 1], [1069, 0], [1070, 1], [1071, 1], [1072, 0], [1073, 1], [1074, 1], [1075, 0], [1076, 1], [1077, 0], [1078, 1], [1079, 0], [1080, 0], [1081, 0], [1082, 0], [1083, 0], [1084, 0], [1085, 0], [1086, 0], [1087, 0], [1088, 1], [1089, 0], [1090, 0], [1091, 0], [1092, 0], [1093, 1], [1094, 0], [1095, 1], [1096, 0], [1097, 0], [1098, 1], [1099, 0], [1100, 1], [1101, 0], [1102, 0], [1103, 0], [1104, 0], [1105, 1], [1106, 0], [1107, 0], [1108, 1], [1109, 0], [1110, 1], [1111, 0], [1112, 1], [1113, 0], [1114, 1], [1115, 0], [1116, 1], [1117, 0], [1118, 0], [1119, 1], [1120, 0], [1121, 0], [1122, 0], [1123, 1], [1124, 0], [1125, 0], [1126, 0], [1127, 0], [1128, 0], [1129, 0], [1130, 1], [1131, 1], [1132, 1], [1133, 1], [1134, 0], [1135, 0], [1136, 0], [1137, 0], [1138, 1], [1139, 0], [1140, 1], [1141, 0], [1142, 1], [1143, 0], [1144, 0], [1145, 0], [1146, 0], [1147, 0], [1148, 0], [1149, 0], [1150, 1], [1151, 0], [1152, 0], [1153, 0], [1154, 1], [1155, 1], [1156, 0], [1157, 0], [1158, 0], [1159, 0], [1160, 0], [1161, 0], [1162, 0], [1163, 0], [1164, 1], [1165, 0], [1166, 0], [1167, 1], [1168, 0], [1169, 0], [1170, 0], [1171, 0], [1172, 0], [1173, 1], [1174, 1], [1175, 0], [1176, 0], [1177, 0], [1178, 0], [1179, 0], [1180, 1], [1181, 0], [1182, 0], [1183, 1], [1184, 0], [1185, 0], [1186, 0], [1187, 0], [1188, 1], [1189, 0], [1190, 0], [1191, 0], [1192, 0], [1193, 0], [1194, 0], [1195, 0], [1196, 1], [1197, 1], [1198, 0], [1199, 1], [1200, 0], [1201, 1], [1202, 0], [1203, 0], [1204, 0], [1205, 1], [1206, 1], [1207, 1], [1208, 0], [1209, 0], [1210, 0], [1211, 0], [1212, 0], [1213, 1], [1214, 1], [1215, 0], [1216, 1], [1217, 0], [1218, 1], [1219, 0], [1220, 0], [1221, 0], [1222, 1], [1223, 0], [1224, 0], [1225, 0], [1226, 0], [1227, 0], [1228, 0], [1229, 1], [1230, 0], [1231, 0], [1232, 0], [1233, 0], [1234, 0], [1235, 1], [1236, 0], [1237, 0], [1238, 0], [1239, 1], [1240, 0], [1241, 1], [1242, 1], [1243, 0], [1244, 0], [1245, 0], [1246, 0], [1247, 0], [1248, 1], [1249, 0], [1250, 0], [1251, 1], [1252, 0], [1253, 1], [1254, 1], [1255, 0], [1256, 1], [1257, 0], [1258, 0], [1259, 0], [1260, 1], [1261, 0], [1262, 0], [1263, 1], [1264, 0], [1265, 0], [1266, 1], [1267, 1], [1268, 0], [1269, 0], [1270, 0], [1271, 0], [1272, 0], [1273, 0], [1274, 1], [1275, 1], [1276, 0], [1277, 1], [1278, 0], [1279, 0], [1280, 0], [1281, 1], [1282, 0], [1283, 1], [1284, 0], [1285, 0], [1286, 0], [1287, 1], [1288, 0], [1289, 1], [1290, 0], [1291, 0], [1292, 1], [1293, 0], [1294, 1], [1295, 0], [1296, 0], [1297, 1], [1298, 0], [1299, 0], [1300, 1], [1301, 1], [1302, 1], [1303, 1], [1304, 0], [1305, 0], [1306, 1], [1307, 0], [1308, 0], [1309, 1]]

In [331]:
res=pd.DataFrame(np.array(predict_y),columns=['PassengerId','Survived'])

In [332]:
res.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [333]:
res.to_csv('res.csv',index=False)

## Inbuilt decision tree classifier

In [353]:
from sklearn.tree import  DecisionTreeClassifier
#DecisionTreeClassifier?
dtc=DecisionTreeClassifier()

In [354]:
dtc.fit(train_x,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [355]:
inbuilt_predict_y=dtc.predict(test_x)

In [356]:

predict_y=[]
for i in range(inbuilt_predict_y.shape[0]):
    #print(test_x.loc[i])
    predict_y.append([test_y_id.iloc[i],inbuilt_predict_y[i]])
res=pd.DataFrame(np.array(predict_y),columns=['PassengerId','Survived'])
res.to_csv('res.csv',index=False)

In [357]:
dtc.score(train_x,train_y)

0.9865319865319865

## Random Forest Classifier

### We make two or more model by splitting the features or example of the training data.

### then we take the majority.

In [367]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(max_depth=5)

In [368]:
rfc

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [369]:
rfc.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [370]:
inbuilt_predict_y=rfc.predict(test_x)
predict_y=[]
for i in range(inbuilt_predict_y.shape[0]):
    #print(test_x.loc[i])
    predict_y.append([test_y_id.iloc[i],inbuilt_predict_y[i]])
res=pd.DataFrame(np.array(predict_y),columns=['PassengerId','Survived'])
res.to_csv('res.csv',index=False)

In [371]:
rfc.score(train_x,train_y)

0.8585858585858586